# Intermediate files

We will load some output/intermediate files from a recent experiment

In [1]:
base='/dccstor/jsmc-nmt-01/bool/expts/toolkit/b/b19'
mrc_file=f'{base}/mrc/eval_predictions.json'
qtc_file=f'{base}/qtc/eval_predictions.json'
evc_file=f'{base}/evc/eval_predictions.json'
out_file=f'{base}/eval_predictions_merge.json'

# Display helper

These file have many fields - to display them better we use a helper routine to convert to dataframes.

In [2]:
from examples.boolqa.mrc2dataset  import create_dataset_from_run_mrc_output

from datasets import ClassLabel, Sequence
import random
import pandas as pd
from IPython.display import display, HTML

# Based on https://github.com/huggingface/notebooks/blob/main/examples/question_answering.ipynb
def show_elements(dataset, cols):
    df = pd.DataFrame(dataset)
    for column, typ in dataset.features.items():
        if isinstance(typ, ClassLabel):
            df[column] = df[column].transform(lambda i: typ.names[i])
        elif isinstance(typ, Sequence) and isinstance(typ.feature, ClassLabel):
            df[column] = df[column].transform(lambda x: [typ.feature.names[i] for i in x])
    display(HTML(df[cols].to_html()))
    
import random

Select some random examples

In [3]:
eval_examples=create_dataset_from_run_mrc_output(mrc_file, unpack=False)
random_idxs = random.sample(range(len(eval_examples)), 20)
random_eval_examples = eval_examples.select(random_idxs)
eval_examples

Dataset({
    features: ['example_id', 'cls_score', 'start_logit', 'end_logit', 'span_answer', 'span_answer_score', 'start_index', 'end_index', 'passage_index', 'target_type_logits', 'span_answer_text', 'yes_no_answer', 'start_stdev', 'end_stdev', 'query_passage_similarity', 'normalized_span_answer_score', 'confidence_score', 'question', 'language', 'order', 'rank'],
    num_rows: 18670
})

# Samples of MRC output

Here we show `question`'s and predicted answer `span_answer_text` for the random examples.  This is at the initial stage of question answering - a purely extractive system.  The confidence in the span answer is given by `span_answer_score`, which is a function of `start_logit`, `end_logit`, and `target_type_logits`.

In [4]:
cols=['example_id','question','span_answer_text','language', 'span_answer_score', 'start_logit', 'end_logit', 'target_type_logits']
show_elements(random_eval_examples,cols)  # Show random

# Samples of QTC output

Three fields have been added: `question_type_pred` which is `YN` if the question is a boolean question, and `NONE` if the question is not boolean - typically factoid in this dataset.
The other field `question_type_scores` contains the classifier scores (logits) for each class.  The final field, `question_type_conf` contains score of the selected class.

In [5]:
eval_examples=create_dataset_from_run_mrc_output(qtc_file, unpack=False)
random_eval_examples = eval_examples.select(random_idxs)
eval_examples

Dataset({
    features: ['example_id', 'cls_score', 'start_logit', 'end_logit', 'span_answer', 'span_answer_score', 'start_index', 'end_index', 'passage_index', 'target_type_logits', 'span_answer_text', 'yes_no_answer', 'start_stdev', 'end_stdev', 'query_passage_similarity', 'normalized_span_answer_score', 'confidence_score', 'question', 'language', 'order', 'rank', 'question_type_pred', 'question_type_scores', 'question_type_conf'],
    num_rows: 18670
})

In [18]:
cols=['example_id','question','span_answer_text', 'question_type_pred', 'question_type_scores']
show_elements(random_eval_examples,cols)  # Show random

# Samples of EVC output 
As above this classifier adds three new fields.  `boolean_answer_pred` is `True` if the predicted answer to a boolean question is positive/yes, `False` if the answer is negative/no, and `NONE` if there is no support for either answer in the context.  `boolean_answer_scores` provides the scores (logits) of each class, and `boolean_answer_conf` is the score of the selected class.
We select the English questions from the dev set (they are not scored by tydi_eval.py), which have a higher fraction of boolean questions.  The boolean questions in the tydi dataset are overwhelmingly biased towards having a `yes` rather than a `no`  as the answer.  We suspect that the question writers were attempting to confirm existing knowledge.
Note that the answer classifier runs even on the short answer questions in order to simplify merging - a real deployed system would run the answer classifier only on questions that are predicted to be boolean.

In [14]:
eval_examples=create_dataset_from_run_mrc_output(evc_file, unpack=False)
eval_examples=eval_examples.filter(lambda x:x['language']=='english')
random_idxs = random.sample(range(len(eval_examples)), 20)

random_eval_examples = eval_examples.select(random_idxs)
eval_examples

  0%|          | 0/19 [00:00<?, ?ba/s]

Dataset({
    features: ['example_id', 'cls_score', 'start_logit', 'end_logit', 'span_answer', 'span_answer_score', 'start_index', 'end_index', 'passage_index', 'target_type_logits', 'span_answer_text', 'yes_no_answer', 'start_stdev', 'end_stdev', 'query_passage_similarity', 'normalized_span_answer_score', 'confidence_score', 'question', 'language', 'order', 'rank', 'question_type_pred', 'question_type_scores', 'question_type_conf', 'boolean_answer_pred', 'boolean_answer_scores', 'boolean_answer_conf'],
    num_rows: 1031
})

In [17]:
cols=['example_id','question','span_answer_text', 'question_type_pred', 'boolean_answer_pred', 'boolean_answer_scores']
show_elements(random_eval_examples,cols)  # Show random

In [10]:
df=pd.DataFrame(eval_examples)
df.query('question_type_pred=="boolean"')['boolean_answer_pred'].value_counts()

yes    1825
no      153
Name: boolean_answer_pred, dtype: int64

In [13]:
df[df['language']=='english']['question_type_pred'].value_counts()

boolean    112
Name: question_type_pred, dtype: int64

# Final output

The final output file is in a format suitable for the tydi evalutation script and contains no textual information.  The `confidence_score` is normalized to `[0,1]` by the score normalizer based the confidence score of the original mrc output, and the prediction of the question type classifier.

In [20]:
df_out=pd.read_json(out_file)
df_out

,example_id,start_position,end_position,passage_index,yes_no_answer,confidence_score
0,b9eba742-f264-4fec-92d0-9b8de5ad0bd7,986,1020,2,0,0.653616
1,a71fe9c2-e518-4923-bced-4fe99cc7ff44,371,388,1,0,0.020314
2,2dcec21a-60bb-4ee9-85bc-6066f1ac6de3,14805,14807,27,0,0.038392
3,84603ec2-1637-4b13-96f5-5ef701c74a12,5993,6010,12,0,0.308387
4,a32fd17a-736a-4299-a543-bc26d68fa8dc,1,22,0,0,0.197467
...,...,...,...,...,...,...
18665,2634d4e7-99a7-40ad-aafa-829dc1270e3d,2563,2586,5,0,0.659538
18666,36227a7f-f387-4d98-99b4-0ba522db3746,183,192,0,0,0.001075
18667,17c7494a-c30e-4c0b-a0ba-b4c0487edf05,1483,1585,4,0,0.193370
18668,1e37c005-6d6b-436f-a97c-8dabc2c67704,723,731,3,0,0.004098
18669,292b3778-f492-484c-ac41-997cf62e39e1,1455,1461,3,0,0.220289